<h1>All Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>  
    <% @articles.each do |value| %>
      <tr>
        <td><%= value.title %></td>
        <td><%= value.description %></td>
        <td>check</td>
      </tr>  
    <% end %>
  </tbody>
</table> 